a:hover {
  color: red;
}
.bottom{
  display:grid;
  grid-template-columns:repeat(1, 1fr);
  grid-gap:1em;
  text-align: center;
  font-family: Futura;
  color: black;
}

.top{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  grid-gap:1em;
  text-align: center;
  font-family: Futura;
  color: yellow;
}

.middle{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  grid-gap:1em;
  text-align: center;
  font-family: Futura;
  color: blue;
}

}

.bg-1{
  background:#2832C2;
}
.bg-1{
  background:#2832C2;
}
.bg-2{
  background:#2832C2;
}
.bg-3{
  background:#2832C2;
}
.bg-4{
  background:teal;
}
.bg-5{
  background:#E3242B;
}
.bg-6{
  background:#BE93D4;
}
.bg-7{
  background:#FFD300;
}

@media (max-width:599px){
   .middle{
    grid-template-columns:repeat(2, 1fr);
  }
  
body {
  margin: 60px auto;
  width: 70%;
}
nav ul, footer ul {
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: underline;
}
h1 {
  font-size: 3em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}
footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}
ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5 em;
}
ul.posts li {
  list-style: none;
}
